In [71]:
import numpy as np

# EX1

In [72]:
a=np.array([[1,2,3,3,1],[6,8,11,10,7]])
print(a)

[[ 1  2  3  3  1]
 [ 6  8 11 10  7]]

In [73]:
mean_a=[np.mean(a[0])],[np.mean(a[1])]
print(mean_a)

([2.0], [8.4])

# EX2

In [74]:
a_centered=a-mean_a
print(a_centered)

[[-1.   0.   1.   1.  -1. ]
 [-2.4 -0.4  2.6  1.6 -1.4]]

# EX3

In [75]:
a_centered_sp=np.dot(a_centered[0],a_centered[1])
print(a_centered_sp)

8.0

In [76]:
print(a_centered_sp/(len(a_centered)-1))

8.0

# ex4

In [77]:
a_tr=a.transpose()
print(a_tr)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

### а почему значение коварииации будет равно элементу в строке 0 с индексом 1? это же 2 я так понимаю? или же как в транспонированной 15 ( второй элемент первой строки) непонятен этот момент

In [78]:
print(np.cov(a))

[[1.  2. ]
 [2.  4.3]]

In [79]:
print(np.cov(a_tr))

[[12.5 15.  20.  17.5 15. ]
 [15.  18.  24.  21.  18. ]
 [20.  24.  32.  28.  24. ]
 [17.5 21.  28.  24.5 21. ]
 [15.  18.  24.  21.  18. ]]

# pandas1

In [80]:
import pandas as pd

In [81]:
authors=pd.DataFrame({'author_id':[1,2,3],
     'author_name':["Тургенев","Чехов","Островский"]})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

### по моему же как то еще можно было эффективным способом создать фрейм без присваивания в переменную

In [82]:
books=pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]},columns=['author_id','book_title','price'])
print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

# pandas2

In [109]:
authors_price=pd.merge(authors,books)
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

# pandas3

In [84]:
top5=authors_price.sort_values('price',ascending=False).head(5)
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

# Pnadas4

In [105]:
authors_stat=pd.DataFrame({"author_name":[authors_price.author_name.unique()]
    
})

a_data={
    "author_name":[x for x in (authors_price.author_name.unique())],
    "min_price":[x for x in (authors_price['price'].min())]

    
}
print(a_data)

TypeError: 'int' object is not iterable

In [110]:
authors_price.loc('price')

ValueError: No axis named price for object type DataFrame